In [14]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from scipy import stats
import numpy as np

df = pd.read_csv("synthetic_dataset.csv")

## Estimación de Parámetros con OLS

In [15]:
df.head()

,X1,X2,X3,X4,X5,X6,X7,X8,X9,X10,X11,X12,X13,X14,X15,Y
0,4.967142,-1.382643,NaN,15.230299,-2.341534,-2.341370,15.792128,7.674347,-4.694744,5.425600,-4.634177,-4.657298,2.419623,-19.132802,-17.249178,152.273643
1,-5.622875,-10.128311,3.142473,-9.080241,-14.123037,14.656488,-2.257763,NaN,-14.247482,-5.443827,1.109226,-11.509936,3.756980,-6.006387,-2.916937,144.947630
2,-6.017066,18.522782,-0.134972,-10.577109,8.225449,NaN,2.088636,-19.596701,-13.281860,1.968612,7.384666,1.713683,-1.156483,-3.011037,-14.785220,188.449076
3,-7.198442,-4.606388,NaN,3.436183,-17.630402,3.240840,-3.850823,-6.769220,6.116763,10.309995,9.312801,NaN,-3.092124,3.312634,9.755451,107.875692
4,-4.791742,-1.856590,-11.063350,-11.962066,8.125258,13.562400,-0.720101,10.035329,3.616360,-6.451198,3.613956,15.380366,-0.358260,15.646437,-26.197451,-78.724744

In [16]:
print(df.isnull().sum())

X1     205
X2     202
X3     210
X4     222
X5     210
X6     195
X7     185
X8     193
X9     195
X10    195
X11    189
X12    198
X13    211
X14    198
X15    192
Y        0
dtype: int64

In [ ]:
total_datos = df.size  
print(f"Total de datos: {total_datos}")

X1 = (205 / total_datos) * 100
X2 = (202 / total_datos) * 100
X3 = (210 / total_datos) * 100
X4 = (222 / total_datos) * 100
X6 = (195 / total_datos) * 100

print(f"El porcentaje que representan de datos nulos en cada una de las categorías son los siguientes:\n"
      f"X1: {X1:.2f}%\n"
      f"X2: {X2:.2f}%\n"
      f"X3: {X3:.2f}%\n"
      f"X4: {X4:.2f}%\n"
      f"X6: {X6:.2f}%")

Total de datos: 64000
El porcentaje que representan de datos nulos en cada una de las categorías son los siguientes:
X1: 0.32%
X2: 0.32%
X3: 0.33%
X4: 0.35%
X6: 0.30%

## Normalización

## Numpy